![](https://github.com/simonscmap/pycmap/blob/master/docs/figures/CMAP.png?raw=true)

*Mohammad Dehghani Ashkezari <mdehghan@uw.edu>* 

*Ginger Armbrust*

*Raphael Hagen*

*Michael Denholtz*

<a href="https://colab.research.google.com/github/simonscmap/Workshops/blob/master/CBIOMES2020/introduction/CBIOMES2020.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory">

<a class="anchor" id="toc"></a>

## Table of Contents:
* [Installation](#installation)
* [**Data Retrieval (selected methods)**](#dataRetrieval)
    * [API](#api) 
    * [Catalog](#catalog)
    * [Search Catalog](#searchCatalog)
    * [Variable Unit](#varUnit)
    * [If Column Exists](#hasField)
    * [Variable Summary Statistics](#varStat)
    * [Variable Coverage](#varCoverage)
    * [Subset by Space-Time](#spaceTime)
    * [Query](#query)

<a class="anchor" id="dataRetrieval"></a>
<br/><br/><br/><br/><br/><br/><br/><br/>
<center>
<h1> API: Data Retrieval </h1>
</center>
A selected list of Simons CMAP API methods are listed below. 
<br/>Please visit the <a href=https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/pycmap_data_retrieval.html#dataret>documentations</a> for more information.  
<br/><br/><br/><br/><br/><br/><br/><br/>

In [ ]:
# enable intellisense
%config IPCompleter.greedy=True

<a class="anchor" id="installation"></a> 
<a href="#toc" style="float: right;">Table of Contents</a>
## Installation
pycmap can be installed using *pip*: 
<br />`pip install pycmap`

In order to use pycmap, you will need to obtain an API key from SimonsCMAP website:
<a href="https://simonscmap.com">https://simonscmap.com</a>.

### Note:
You may install pycmap on cloud-based jupyter notebooks (such as [Colab](https://colab.research.google.com/)) by running the following command in a code-block: 
<br />`!pip install pycmap`

In [1]:
!pip install pycmap -q    #uncomment to install pycmap on Colab
import pycmap
pycmap.__version__

'0.1.8'

<a class="anchor" id="api"></a>
<a href="#toc" style="float: right;">Table of Contents</a>
## [*API( )*](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/pycmap_api.html#pycmapapi)
To retrieve data, we need to create an instance of the system's API and pass the API key. It is not necessary to pass the API key every time you run pycmap, because the key will be stored locally. The API class has other optional parameters to adjust its behavior. All parameters can be updated persistently at any point in the code.

Register at https://simonscmap.com and get and API key, if you haven't already.

In [3]:
api = pycmap.API()

<a class="anchor" id="catalog"></a>
<a href="#toc" style="float: right;">Table of Contents</a>
## [*get_catalog()*](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/pycmap_catalog.html#getcatalog)

Returns a dataframe containing the details of all variables at Simons CMAP database. 
<br />This method requires no input.

In [4]:
api.get_catalog()

,Variable,Table_Name,Long_Name,Unit,Make,Sensor,Process_Level,Study_Domain,Temporal_Resolution,Spatial_Resolution,...,Comment,Dataset_Name,Data_Source,Distributor,Dataset_Description,Acknowledgement,Dataset_ID,ID,Visualize,Keywords
0,vgosa,tblAltimetry_REP,Geostrophic velocity anomalies: meridian compo...,m/s,Observation,Satellite,Reprocessed,Physics,Daily,1/4Â° X 1/4Â°,...,The geostrophic velocity anomalies are referen...,Sea Surface Height and Derived Variables (Repr...,SL-TAC,http://marine.copernicus.eu/,The reprocessed altimetry dataset in CMAP was ...,Data was provided by: E.U. Copernicus Marine S...,8,2,1.0,"daily, geostrophic velocity anomalies, meridia..."
1,vgos,tblAltimetry_REP,Absolute geostrophic velocity: meridian component,m/s,Observation,Satellite,Reprocessed,Physics,Daily,1/4Â° X 1/4Â°,...,surface_geostrophic_northward_sea_water_velocity,Sea Surface Height and Derived Variables (Repr...,SL-TAC,http://marine.copernicus.eu/,The reprocessed altimetry dataset in CMAP was ...,Data was provided by: E.U. Copernicus Marine S...,8,6,1.0,"daily, geostrophic, meridian component, observ..."
2,sla,tblAltimetry_REP,Sea Level Anomaly,m,Observation,Satellite,Reprocessed,Physics,Daily,1/4Â° X 1/4Â°,...,The sea level anomaly is the sea surface heigh...,Sea Surface Height and Derived Variables (Repr...,SL-TAC,http://marine.copernicus.eu/,The reprocessed altimetry dataset in CMAP was ...,Data was provided by: E.U. Copernicus Marine S...,8,9,1.0,"daily, observation, physics, reprocessed, sate..."
3,adt,tblAltimetry_REP,Absolute Dynamic Topography,m,Observation,Satellite,Reprocessed,Physics,Daily,1/4Â° X 1/4Â°,...,The absolute dynamic topography is the sea sur...,Sea Surface Height and Derived Variables (Repr...,SL-TAC,http://marine.copernicus.eu/,The reprocessed altimetry dataset in CMAP was ...,Data was provided by: E.U. Copernicus Marine S...,8,10,1.0,"absolute dynamic topography, adt, daily, obser..."
4,ugosa,tblAltimetry_REP,Geostrophic velocity anomalies: zonal component,m/s,Observation,Satellite,Reprocessed,Physics,Daily,1/4Â° X 1/4Â°,...,The geostrophic velocity anomalies are referen...,Sea Surface Height and Derived Variables (Repr...,SL-TAC,http://marine.copernicus.eu/,The reprocessed altimetry dataset in CMAP was ...,Data was provided by: E.U. Copernicus Marine S...,8,11,1.0,"daily, geostrophic velocity anomalies zonal co..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1367,Bottle,tblHOT242_252_14C_PP_02_3,bottle number,#,Observation,In-Situ,Reprocessed,Biogeochemistry,Irregular,Irregular,...,NaN,Time-series measurements of size fractionated ...,"Matthew Church, Univ Montana",NaN,Filter size-fractionated (>0.2-3 Âµm) particul...,This work was funded by the Simons Foundation ...,211,2945,NaN,"Bottle, carbon fixation, Hawaii Ocean Time-ser..."
1368,C14_assimilation_pico_mean,tblHOT242_252_14C_PP_02_3,14C assimilation pico mean,umol C/l/d,Observation,In-Situ,Reprocessed,Biogeochemistry,Irregular,Irregular,...,NaN,Time-series measurements of size fractionated ...,"Matthew Church, Univ Montana",NaN,Filter size-fractionated (>0.2-3 Âµm) particul...,This work was funded by the Simons Foundation ...,211,2946,1.0,"C14-carbon fixation, carbon fixation, Hawaii O..."
1369,C14_assimilation_pico_stdev,tblHOT242_252_14C_PP_02_3,14C assimilation pico standard deviation,umol C/l/d,Observation,In-Situ,Reprocessed,Biogeochemistry,Irregular,Irregular,...,NaN,Time-series measurements of size fractionated ...,"Matthew Church, Univ Montana",NaN,Filter size-fractionated (>0.2-3 Âµm) particul...,This work was funded by the Simons Foundation ...,211,2947,NaN,"C14-carbon fixation stdev, carbon fixation, Ha..."
1370,filter_max,tblHOT242_252_14C_PP_02_3,maximum filter pore size,um,Observation,In-Situ,Reprocessed,Biogeochemistry,Irregular,Irregular,...,NaN,Time-series measurements of size fractionated ...,"Matthew Church, Univ Montana",NaN,Filter size-fractionated (>0.2-3 Âµm) particul...,This work was funded by the Simons Foundation ...,211,2948,NaN,"carbon fixation, filter max_3 um, Hawaii Ocean..."
1371,filter_min,tblHOT242_252_14C_PP_02_3,minimum filter pore size,um,Observation,In-Situ,Reprocessed,Biogeochemistry,Irregular,Irregular,...,NaN,Time-series measurements of size fractionated ...,"Matthew Church, Univ Montana",NaN,Filter size-fractionated (>0.2-3 Âµm) particul...,This work was funded by the Simons Foundation ...,211,2949,NaN,"carbon fixation, filter min_02 um, Hawaii Ocea..."

<a class="anchor" id="searchCatalog"></a>
<a href="#toc" style="float: right;">Table of Contents</a>
## [*search_catalog(keywords)*](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/pycmap_search_catalog.html#searchcatalog)


Returns a dataframe containing a subset of Simons CMAP catalog of variables. 

All variables at Simons CMAP catalog are annotated with a collection of semantically related keywords. This method takes the passed keywords and returns all of the variables annotated with similar keywords. The passed keywords should be separated by blank space. The search result is not sensitive to the order of keywords and is not case sensitive. The passed keywords can provide any 'hint' associated with the target variables. Below are a few examples: 

* the exact variable name (e.g. NO3), or its linguistic term (Nitrate) 
* methodology (model, satellite ...), instrument (CTD, seaflow), or disciplines (physics, biology ...) 
* the cruise official name (e.g. KOK1606), or unofficial cruise name (Falkor) 
* the name of data producer (e.g Penny Chisholm) or institution name (MIT) 

<br />If you searched for a variable with semantically-related-keywords and did not get the correct results, please let us know. We can update the keywords at any point.

### Example:
Returns a list of variables annotated by the keywords `prochlorococcus` and `abundance`.

In [8]:
api.search_catalog('proch abun ')

,Variable,Table_Name,Long_Name,Unit,Make,Sensor,Process_Level,Study_Domain,Temporal_Resolution,Spatial_Resolution,...,Comment,Dataset_Name,Data_Source,Distributor,Dataset_Description,Acknowledgement,Dataset_ID,ID,Visualize,Keywords
0,Pro_abundance,tblAMT13_Chisholm,Prochlorococcus abundance,cells/mL (X 10^5),Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,From the dataset provided by the Chisholm Lab ...,AMT13 Prochlorococcus and Synechococcus Abundance,"Plymouth Marine Laboratory, NERC, Chisholm Lab",https://chisholmlab.mit.edu/,Atlantic Meridional Transect cruise 13: Prochl...,We would like to acknowledge C. Robinson and t...,160,2483,1.0,"abundance, AMT, AMT13, atlantic, atlantic meri..."
1,Pro_eMED4_abundance,tblAMT13_Chisholm,Prochlorococcus ecotype eMED4 abundance,cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,"The theoretical detection limit, 1 cell/mL, is...",AMT13 Prochlorococcus and Synechococcus Abundance,"Plymouth Marine Laboratory, NERC, Chisholm Lab",https://chisholmlab.mit.edu/,Atlantic Meridional Transect cruise 13: Prochl...,We would like to acknowledge C. Robinson and t...,160,2485,1.0,"abundance, AMT, AMT13, atlantic, atlantic meri..."
2,Pro_eMED4_abundance_quality,tblAMT13_Chisholm,eMED4 qPCR quality score,NaN,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,0 = Less than detection limit (so qPCR value w...,AMT13 Prochlorococcus and Synechococcus Abundance,"Plymouth Marine Laboratory, NERC, Chisholm Lab",https://chisholmlab.mit.edu/,Atlantic Meridional Transect cruise 13: Prochl...,We would like to acknowledge C. Robinson and t...,160,2503,NaN,"abundance, AMT, AMT13, atlantic, atlantic meri..."
3,Pro_eMIT9211_abundance,tblAMT13_Chisholm,Prochlorococcus ecotype eMIT9211 abundance,cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,"The theoretical detection limit, 1 cell/mL, is...",AMT13 Prochlorococcus and Synechococcus Abundance,"Plymouth Marine Laboratory, NERC, Chisholm Lab",https://chisholmlab.mit.edu/,Atlantic Meridional Transect cruise 13: Prochl...,We would like to acknowledge C. Robinson and t...,160,2487,1.0,"abundance, AMT, AMT13, atlantic, atlantic meri..."
4,Pro_eMIT9211_abundance_quality,tblAMT13_Chisholm,eMIT9211 qPCR quality score,NaN,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,0 = Less than detection limit (so qPCR value w...,AMT13 Prochlorococcus and Synechococcus Abundance,"Plymouth Marine Laboratory, NERC, Chisholm Lab",https://chisholmlab.mit.edu/,Atlantic Meridional Transect cruise 13: Prochl...,We would like to acknowledge C. Robinson and t...,160,2505,NaN,"abundance, AMT, AMT13, atlantic, atlantic meri..."
5,Pro_eMIT9312_abundance,tblAMT13_Chisholm,Prochlorococcus ecotype eMIT9312 abundance,cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,"The theoretical detection limit, 1 cell/mL, is...",AMT13 Prochlorococcus and Synechococcus Abundance,"Plymouth Marine Laboratory, NERC, Chisholm Lab",https://chisholmlab.mit.edu/,Atlantic Meridional Transect cruise 13: Prochl...,We would like to acknowledge C. Robinson and t...,160,2486,1.0,"abundance, AMT, AMT13, atlantic, atlantic meri..."
6,Pro_eMIT9312_abundance_quality,tblAMT13_Chisholm,eMIT9312 qPCR quality score,NaN,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,0 = Less than detection limit (so qPCR value w...,AMT13 Prochlorococcus and Synechococcus Abundance,"Plymouth Marine Laboratory, NERC, Chisholm Lab",https://chisholmlab.mit.edu/,Atlantic Meridional Transect cruise 13: Prochl...,We would like to acknowledge C. Robinson and t...,160,2504,NaN,"abundance, AMT, AMT13, atlantic, atlantic meri..."
7,Pro_eMIT9313_abundance,tblAMT13_Chisholm,Prochlorococcus ecotype MIT9313 abundance,cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,"The theoretical detection limit, 1 cell/mL, is...",AMT13 Prochlorococcus and Synechococcus Abundance,"Plymouth Marine Laboratory, NERC, Chisholm Lab",https://chisholmlab.mit.edu/,Atlantic Meridional Transect cruise 13: Prochl...,We would like to acknowledge C. Robinson and t...,160,2490,1.0,"abundance, AMT, AMT13, atlantic, atlantic meri..."
8,Pro_eMIT9313_abundance_quality,tblAMT13_Chisholm,eMIT9313 qPCR quality score,NaN,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,0 = Less than detection limit (so qPCR value w...,AMT13 Prochlorococcus and Synechococcus Abundance,"Plymouth Marine Laboratory, NERC, Chisholm Lab",https://chisholmlab.mit.edu/,Atlantic Meridional Transect cruise 13: Prochl...,We would like to acknowledge C. Robinson and t...,160,2508,NaN,"abundance, AMT, AMT13, atlantic, atlantic meri..."
9,Pro_eNATL2A_abundance,tblAMT13_Chisholm,Prochlorococcus ecotype NATL2A abundance,cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,"The theoretical detection limit, 1 cell/mL, is...",AMT13 Prochlorococcus and Synechococcus Abundance,"Plymouth Marine Laboratory, NERC, Chisholm Lab",https://chisholmlab.mit.edu/,Atlantic Meridional Transect cruise 13: Prochl...,We would like to acknowledge C. Robinson and t...,160,2488,1.0,"abundance, AMT, AMT13, atlantic, atlantic meri..."
10,Pro_eNATL2A_abundance_quality,tblAMT13_Chisholm,eNATL2A qPCR quality score,NaN,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,0 = Less than detection limit (so qPCR value w...,AMT13 Prochlorococcus and Synechococcus Abundance,"Plymouth Marine Laboratory, NERC, Chisholm Lab",https://chisholmlab.mit.edu/,Atlantic Meridional Transect cruise 13: Prochl...,We would like to acknowledge C. Robinson and t...,160,2506,NaN,"abundance, AMT, AMT13, atlantic, atlantic meri..."
11,Pro_eSS120_abundance,tblAMT13_Chisholm,Prochlorococcus ecotype eSS120 abundance,cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,"The theoretical detection limit, 1 cell/mL, is...",AMT13 Prochlorococcus and Synechococcus Abundance,"Plymouth Marine Laboratory, NERC, Chisholm Lab",https://chisholmlab.mit.edu/,Atlantic Meridional Transect cruise 13: Prochl...,We would like to acknowledge C. Robinson and t...,160,2489,1.0,"abundance, AMT, AMT13, atlantic, atlantic meri..."
12,Pro_eSS120_abundance_quality,tblAMT13_Chisholm,eSS120 qPCR quality score,NaN,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,0 = Less than detection limit (so qPCR value w...,AMT13 Prochlorococcus and Synechococcus Abundance,"Plymouth Marine Laboratory, NERC, Chisholm Lab",https://chisholmlab.mit.edu/,Atlantic Meridional Transect cruise 13: Prochl...,We would like to acknowledge C. Robinson and t...,160,2507,NaN,"abundance, AMT, AMT13, atlantic, atlantic meri..."
13,Pro_total_ecotype_abundance,tblAMT13_Chisholm,"Prochlorococcus ecotypes MED4, MIT9312, MIT921...",cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,If one of the individual strains was below the...,AMT13 Prochlorococcus and Synechococcus Abundance,"Plymouth Marine Laboratory, NERC, Chisholm Lab",https://chisholmlab.mit.edu/,Atlantic Meridional Transect cruise 13: Prochl...,We would like to acknowledge C. Robinson and t...,160,2484,1.0,"abundance, AMT, AMT13, atlantic, atlantic meri..."
14,Pro_total_ecotype_abundance_quality,tblAMT13_Chisholm,Total qPCR quality score,NaN,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,0 = At least one of the individual strains was...,AMT13 Prochlorococcus and Synechococcus Abundance,"Plymouth Marine Laboratory, NERC, Chisholm Lab",https://chisholmlab.mit.edu/,Atlantic Meridional Transect cruise 13: Prochl...,We would like to acknowledge C. Robinson and t...,160,2509,NaN,"abundance, AMT, AMT13, atlantic, atlantic meri..."
15,Pro_eMED4_abundance,tblHOT_BATS_Prochlorococcus_Abundance,Prochlorococcus ecotype eMED4 abundance,cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,Estimated abundances that fell below the lowes...,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2599,1.0,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."
16,Pro_eMED4_abundance_quality,tblHOT_BATS_Prochlorococcus_Abundance,eMED4 qPCR quality score,NaN,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,0 = qPCR value was set to the theoretical dete...,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2613,NaN,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."
17,Pro_eMED4_stdev,tblHOT_BATS_Prochlorococcus_Abundance,Prochlorococcus ecotype eMED4 standard deviation,cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,NaN,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2600,1.0,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."
18,Pro_eMIT9312_abundance,tblHOT_BATS_Prochlorococcus_Abundance,Prochlorococcus ecotype eMIT9312 abundance,cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,Estimated abundances that fell below the lowes...,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2601,1.0,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."
19,Pro_eMIT9312_abundance_quality,tblHOT_BATS_Prochlorococcus_Abundance,eMIT9312 qPCR quality score,NaN,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,0 = qPCR value was set to the theoretical dete...,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2614,NaN,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."
20,Pro_eMIT9312_stdev,tblHOT_BATS_Prochlorococcus_Abundance,Prochlorococcus ecotype eMIT9312 standard devi...,cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,NaN,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2602,1.0,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."
21,Pro_eMIT9313_abundance,tblHOT_BATS_Prochlorococcus_Abundance,Prochlorococcus ecotype eMIT9313 abundance,cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,Estimated abundances that fell below the lowes...,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2603,1.0,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."
22,Pro_eMIT9313_abundance_quality,tblHOT_BATS_Prochlorococcus_Abundance,eMIT9313 qPCR quality score,NaN,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,0 = qPCR value was set to the theoretical dete...,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2615,NaN,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."
23,Pro_eMIT9313_stdev,tblHOT_BATS_Prochlorococcus_Abundance,Prochlorococcus ecotype eMIT9313 standard devi...,cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,NaN,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2604,1.0,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."
24,Pro_eNATL_abundance,tblHOT_BATS_Prochlorococcus_Abundance,Prochlorococcus ecotype eNATL abundance,cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,Estimated abundances that fell below the lowes...,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2605,1.0,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."
25,Pro_eNATL_abundance_quality,tblHOT_BATS_Prochlorococcus_Abundance,eNATL qPCR quality score,NaN,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,0 = qPCR value was set to the theoretical dete...,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2616,NaN,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."
26,Pro_eNATL_stdev,tblHOT_BATS_Prochlorococcus_Abundance,Prochlorococcus ecotype eNATL standard deviation,cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,NaN,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2606,1.0,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."
27,Pro_eSS120_abundance,tblHOT_BATS_Prochlorococcus_Abundance,Prochlorococcus ecotype eSS120 abundance,cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,Estimated abundances that fell below the lowes...,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2607,1.0,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."
28,Pro_eSS120_abundance_quality,tblHOT_BATS_Prochlorococcus_Abundance,eSS120 qPCR quality score,NaN,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,0 = qPCR value was set to the theoretical dete...,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2617,NaN,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."
29,Pro_eSS120_stdev,tblHOT_BATS_Prochlorococcus_Abundance,Prochlorococcus ecotype eSS120 standard deviation,cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,NaN,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2608,1.0,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."
30,Pro_total_ecotype_abundance,tblHOT_BATS_Prochlorococcus_Abundance,"Prochlorococcus ecotypes MED4, MIT9312, MIT931...",cells/mL,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,Estimated abundances that fell below the lowes...,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2618,1.0,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."
31,Pro_total_ecotype_abundance_quality,tblHOT_BATS_Prochlorococcus_Abundance,Total qPCR quality score,NaN,Observation,In-Situ,Reprocessed,Chemistry+Biology+Biogeochemistry,Irregular,Irregular,...,0 = At least one of the individual strains was...,HOT and BATS Prochlorococcus Abundance Time-se...,"C-MORE, Chisholm Lab",https://chisholmlab.mit.edu/,Five year time-series containing Prochlorococc...,Michael Lomas and the BATS team collected samp...,164,2619,NaN,"abundance, Atlantic, bacteria, BATS, BCO-DMO, ..."

<a class="anchor" id="varUnit"></a>
<a href="#toc" style="float: right;">Table of Contents</a>
## [*get_unit(tableName, varName)*](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/data_retrieval/pycmap_variable_unit.html#var-unit)

Returns the unit for a given variable, if applicable.


> **Parameters:** 
>> **tableName: string**
>>  <br />The name of table associated with the dataset. A full list of table names can be found in the [Data Catalog](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/data_retrieval/pycmap_catalog.html).
>> <br />
>> <br />**varName: string**
>>  <br />Variable short name. A full list of variable short names can be found in the [Data Catalog](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/data_retrieval/pycmap_catalog.html).
>> <br />


>**Returns:** 
>>  Pandas dataframe.

### Example:
Returns the unit of the short name variable, silica_hot, in the HOT Particle Flux dataset.

In [9]:
api.get_unit('tblHOT_ParticleFlux', 'silica_hot')

' [mg/m^2/day]'

<a class="anchor" id="hasField"></a>
<a href="#toc" style="float: right;">Table of Contents</a>
## [*has_field(tableName, varName)*](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/data_retrieval/pycmap_has_field.html)

Returns True if the specified column (field) exists in the table; otherwise returns False.

> **Parameters:** 
>> **tableName: string**
>>  <br />The name of table associated with the dataset. A full list of table names can be found in the [Data Catalog](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/data_retrieval/pycmap_catalog.html).
>> <br />
>> <br />**varName: string**
>>  <br />Variable short name. A full list of variable short names can be found in the [Data Catalog](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/data_retrieval/pycmap_catalog.html).
>> <br />


>**Returns:** 
>>  boolean

### Example:
Checks if the table `tblAltimetry_REP` has a `depth` field.

In [11]:
api.has_field('tblAltimetry_REP', 'sla')

True

<a class="anchor" id="varStat"></a>
<a href="#toc" style="float: right;">Table of Contents</a>
## [*get_var_stat(tableName, varName)*](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/data_retrieval/pycmap_var_stat.html)

Returns summary statistics involving the min, max, mean, standard deviation, count, and quantiles for the given variable.

> **Parameters:** 
>> **tableName: string**
>>  <br />The name of table associated with the dataset. A full list of table names can be found in the [Data Catalog](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/data_retrieval/pycmap_catalog.html).
>> <br />
>> <br />**varName: string**
>>  <br />Variable short name. A full list of variable short names can be found in the [Data Catalog](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/data_retrieval/pycmap_catalog.html).
>> <br />


>**Returns:** 
>>  Pandas dataframe.

### Example:
Returns summary statistics for the short name variable, Prochlorococcus, in the HOT LAVA Cruise dataset.

In [12]:
api.get_var_stat('tblHOT_LAVA', 'Prochlorococcus')

,Variable_Min,Variable_Max,Variable_Mean,Variable_Std,Variable_Count,Variable_25th,Variable_50th,Variable_75th
0,0.172,5.217,1.119417,0.874298,36,0.61,1.041,1.471

<a class="anchor" id="varCoverage"></a>
<a href="#toc" style="float: right;">Table of Contents</a>
## [*get_var_coverage(tableName, varName)*](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/data_retrieval/pycmap_var_coverage.html)

Returns spatial and temporal coverage of the given variable.

> **Parameters:** 
>> **tableName: string**
>>  <br />The name of table associated with the dataset. A full list of table names can be found in the [Data Catalog](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/data_retrieval/pycmap_catalog.html).
>> <br />
>> <br />**varName: string**
>>  <br />Variable short name. A full list of variable short names can be found in the [Data Catalog](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/data_retrieval/pycmap_catalog.html).
>> <br />


>**Returns:** 
>>  Pandas dataframe.

### Example:
Returns the spatial and temporal coverage range of `picoprokaryote` in `tblDarwin_Phytoplankton` table.

In [13]:
api.get_var_coverage('tblDarwin_Phytoplankton', 'picoprokaryote')

,Time_Min,Time_Max,Lat_Min,Lat_Max,Lon_Min,Lon_Max,Depth_Min,Depth_Max
0,1993-12-31T00:00:00.000Z,2015-12-30T00:00:00.000Z,-89.75,89.75,-179.75,179.75,5,5906.25

<a class="anchor" id="spaceTime"></a>
<a href="#toc" style="float: right;">Table of Contents</a>
## [*space_time(table, variable, dt1, dt2, lat1, lat2, lon1, lon2, depth1, depth2)*](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/pycmap_subset_ST.html#subset-st)

Returns a subset of data according to the specified space-time constraints (dt1, dt2, lat1, lat2, lon1, lon2, depth1, depth2).
<br />The results are ordered by time, lat, lon, and depth (if exists), respectively.

> **Parameters:** 
>> **table: string**
>>  <br />Table name (each dataset is stored in a table). A full list of table names can be found in [catalog](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/pycmap_catalog.html#getcatalog).
>> <br />
>> <br />**variable: string**
>>  <br />Variable short name which directly corresponds to a field name in the table. A subset of this variable is returned by this method according to the spatio-temporal cut parameters (below). Pass **'\*'** wild card to retrieve all fields in a table. A full list of variable short names can be found in [catalog](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/pycmap_catalog.html#getcatalog).
>> <br />
>> <br />**dt1: string**
>>  <br />Start date or datetime. This parameter sets the lower bound of the temporal cut. <br />Example values: '2016-05-25' or '2017-12-10 17:25:00'
>> <br />
>> <br />**dt2: string**
>>  <br />End date or datetime. This parameter sets the upper bound of the temporal cut. 
>> <br />
>> <br />**lat1: float**
>>  <br />Start latitude [degree N]. This parameter sets the lower bound of the meridional cut. Note latitude ranges from -90&deg; to 90&deg;.
>> <br />
>> <br />**lat2: float**
>>  <br />End latitude [degree N]. This parameter sets the upper bound of the meridional cut. Note latitude ranges from -90&deg; to 90&deg;.
>> <br />
>> <br />**lon1: float**
>>  <br />Start longitude [degree E]. This parameter sets the lower bound of the zonal cut. Note longitue ranges from -180&deg; to 180&deg;.
>> <br />
>> <br />**lon2: float**
>>  <br />End longitude [degree E]. This parameter sets the upper bound of the zonal cut. Note longitue ranges from -180&deg; to 180&deg;.
>> <br />
>> <br />**depth1: float**
>>  <br />Start depth [m]. This parameter sets the lower bound of the vertical cut. Note depth is a positive number (it is 0 at surface and grows towards ocean floor).
>> <br />
>> <br />**depth2: float**
>>  <br />End depth [m]. This parameter sets the upper bound of the vertical cut. Note depth is a positive number (it is 0 at surface and grows towards ocean floor).


>**Returns:** 
>>  Pandas dataframe.

### Example:
This example retrieves a subset of in-situ salinity measurements by [Argo floats](https://cmap.readthedocs.io/en/latest/catalog/datasets/Argo.html#argo).

In [14]:
api.space_time(
              table='tblArgoMerge_REP', 
              variable='argo_merge_salinity_adj', 
              dt1='2015-05-01', 
              dt2='2015-05-30', 
              lat1=28, 
              lat2=38, 
              lon1=-71, 
              lon2=-50, 
              depth1=0, 
              depth2=100
              )

                    time     lat     lon       depth  argo_merge_salinity_adj
0    2015-05-02T00:00:00  32.348 -63.450    4.300000                36.713013
1    2015-05-02T00:00:00  32.348 -63.450    6.000000                36.713013
2    2015-05-02T00:00:00  32.348 -63.450    7.600000                36.710995
3    2015-05-02T00:00:00  32.348 -63.450    8.000000                36.711006
4    2015-05-02T00:00:00  32.348 -63.450   10.000000                36.702999
..                   ...     ...     ...         ...                      ...
539  2015-05-29T00:00:00  28.293 -68.749   94.000000                36.672115
540  2015-05-29T00:00:00  28.293 -68.749   96.000000                36.670086
541  2015-05-29T00:00:00  28.293 -68.749   96.599998                36.669094
542  2015-05-29T00:00:00  28.293 -68.749   98.000000                36.670105
543  2015-05-29T00:00:00  28.293 -68.749  100.000000                36.672108

[544 rows x 5 columns]

<a class="anchor" id="query"></a>
<a href="#toc" style="float: right;">Table of Contents</a>
## [*query(query)*](https://cmap.readthedocs.io/en/latest/user_guide/API_ref/pycmap_api/pycmap_query.html#query)
<br />Simons CMAP datasets are hosted in a SQL database and pycmap package provides the user with a number of pre-developed methods to extract and retrieve subsets of the data. The rest of this documentation is dedicated to explore and explain these methods. In addition to the pre-developed methods, we intend to leave the database open to custom scan queries for interested users. This method takes a custom SQL query statement and returns the results in form of a Pandas dataframe. The full list of table names and variable names (fields) can be obtained using the [get_catalog()](Catalog.ipynb) method. In fact, one may use this very method to retrieve the table and field names: `query('EXEC uspCatalog')`. A Dataset is stored in a table and each table field represents a variable. All data tables have the following fields:

* [time] [date or datetime] NOT NULL,
* [lat] [float] NOT NULL,
* [lon] [float] NOT NULL,
* [depth] [float] NOT NULL,

### Note:
Tables which represent a climatological dataset, such as 'tblDarwin_Nutrient_Climatology', will not have a 'time' field. Also, if a table represents a surface dataset, such as satellite products, there would be no 'depth' field. 'depth' is a positive number in meters unit; it is zero at the surface growing towards the ocean's floor. 'lat' and 'lon' are in degrees units, ranging from -90&deg; to 90&deg; and -180&deg; to 180&deg;, respectively.

<br />Please keep in mind that some of the datasets are massive in size (10s of TB), avoid queries without WHERE clause (`SELECT * FROM TABLENAME`). Always try to add some constraints on time, lat, lon, and depth fields (see the basic examples below). 

<br/>Moreover, the database hosts a wide range of predefined stored procedures and functions to streamline nearly all CMAP data services. For instance retrieving the catalog information is achieved using a single call of this procedure: *uspCatalog*. These predefined procedures can be called using the pycmap package (see example below). Alternatively, one may use any SQL client to execute these procedures to retrieve and visualize data (examples: [Azure Data Studio](https://docs.microsoft.com/en-us/sql/azure-data-studio/download?view=sql-server-ver15), or [Plotly Falcon](https://plot.ly/free-sql-client-download/)). Using the predefined procedures all CMAP data services are centralized at the database layer which dramatically facilitates the process of developing apps with different programming languages (pycmap, web app, cmap4r, ...). Please note that you can improve the current procedures or add new procedures by contributing at the [CMAP database repository](https://github.com/simonscmap/DB). 
Below is a selected list of stored procedures and functions, their arguments will be described in more details subsequently:



* uspCatalog
* uspSpaceTime
* uspTimeSeries
* uspDepthProfile
* uspSectionMap
* uspCruises
* uspCruiseByName
* uspCruiseBounds
* uspWeekly
* uspMonthly
* uspQuarterly
* uspAnnual
* uspMatch
* udfDatasetReferences
* udfMetaData_NoRef





<br />Happy SQL Injection!
<br />
<br />
<br />

### Example:
A sample stored procedure returning the list of all cruises hosted by Simons CMAP.

In [16]:
api.cruises()

,ID,Nickname,Name,Ship_Name,Start_Time,End_Time,Lat_Min,Lat_Max,Lon_Min,Lon_Max,Chief_Name,Keywords
0,616,AMT01,AMT01,RRS James Clark Ross,1995-09-20T17:51:00.000Z,1995-10-25T10:06:00.000Z,-51.942200,53.588600,-58.501600,1.932000,David Robins,"(East), (SATG), (STGE), (TRPG), (WWDR), 1995, ..."
1,617,AMT02,AMT02,RRS James Clark Ross,1996-04-22T12:10:00.000Z,1996-05-22T07:16:00.000Z,-51.691900,50.292900,-57.830400,-4.202700,David Robins,"(East), (SATG), (STGE), (TRPG), (WWDR), 1996, ..."
2,618,AMT03,AMT03,RRS James Clark Ross,1996-09-21T12:18:00.000Z,1996-10-25T13:20:00.000Z,-51.971500,50.801100,-58.480500,-0.971600,Tony Bale,"(East), (SATG), (STGE), (TRPG), (WWDR), 1996, ..."
3,619,AMT04,AMT04,RRS James Clark Ross,1997-04-21T12:07:00.000Z,1997-05-27T00:05:00.000Z,-51.692100,53.405000,-57.836200,2.001200,Tony Bale,"(East), (SATG), (STGE), (TRPG), (WWDR), 1997, ..."
4,620,AMT05,AMT05,RRS James Clark Ross,1997-09-14T04:00:00.000Z,1997-10-17T13:13:00.000Z,-51.700100,53.550300,-58.291100,1.938300,Jim Aiken,"(East), (SATG), (STGE), (TRPG), (WWDR), 1997, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
78,572,Thompson_12,TN292,R/V Thompson,2013-03-05T22:38:45.000Z,2013-03-13T02:50:56.000Z,24.633822,48.511483,-154.021572,-122.445282,NaN,"2013, Armbrust, California, CCAL, chroco, CMAP..."
79,561,Tokyo_1,Tokyo_1,M/V Tokyo,2011-05-16T15:01:58.000Z,2011-05-30T03:15:35.000Z,22.920600,43.329300,-179.984800,179.991300,NaN,"(West), 2011, California, CCAL, CHIN, China, C..."
80,562,Tokyo_2,Tokyo_2,M/V Tokyo,2011-06-27T06:57:50.000Z,2011-07-10T23:12:13.000Z,22.123100,49.568600,-179.990300,179.988700,NaN,"(East), (West), 2011, BERS, California, CCAL, ..."
81,567,Tokyo_3,Tokyo_3,M/V Tokyo,2011-09-19T04:40:53.000Z,2011-10-02T20:53:05.000Z,22.105100,44.592400,-179.993800,179.982900,NaN,"(East), (West), 2011, California, CCAL, CHIN, ..."
82,568,Tokyo_4,Tokyo_4,M/V Tokyo,2012-01-31T04:08:23.000Z,2012-02-06T21:04:53.000Z,33.628700,40.307800,-179.984700,179.992000,NaN,"2012, California, CCAL, CMAP, Coastal, cruises..."

### Example:
A sample query returning the timeseries of sea surface temperature (sst).

In [17]:
api.query(
         '''
         SELECT [time], AVG(lat) AS lat, AVG(lon) AS lon, AVG(sst) AS sst FROM tblsst_AVHRR_OI_NRT
         WHERE
         [time] BETWEEN '2016-06-01' AND '2016-10-01' AND
         lat BETWEEN 23 AND 24 AND
         lon BETWEEN -160 AND -158
         GROUP BY [time]
         ORDER BY [time]
         '''
         )

                    time   lat  lon        sst
0    2016-06-01T00:00:00  23.5 -159  25.316556
1    2016-06-02T00:00:00  23.5 -159  25.277493
2    2016-06-03T00:00:00  23.5 -159  25.245618
3    2016-06-04T00:00:00  23.5 -159  25.157493
4    2016-06-05T00:00:00  23.5 -159  25.301243
..                   ...   ...  ...        ...
118  2016-09-27T00:00:00  23.5 -159  26.449993
119  2016-09-28T00:00:00  23.5 -159  26.394056
120  2016-09-29T00:00:00  23.5 -159  26.378118
121  2016-09-30T00:00:00  23.5 -159  26.425618
122  2016-10-01T00:00:00  23.5 -159  26.346868

[123 rows x 4 columns]